
@font-face {
	font-family:'pl-lineicons';
	src:url('Simple-Line-Icons.eot');
	src:url('Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('Simple-Line-Icons.woff') format('woff'),
		url('Simple-Line-Icons.ttf') format('truetype'),
		url('Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight:normal;
	font-style:normal;
}
.pl-lineicon-user-female, .pl-lineicon-user-follow, .pl-lineicon-user-following, .pl-lineicon-user-unfollow, .pl-lineicon-trophy, .pl-lineicon-screen-smartphone, .pl-lineicon-screen-desktop, .pl-lineicon-plane, .pl-lineicon-notebook, .pl-lineicon-moustache, .pl-lineicon-mouse, .pl-lineicon-magnet, .pl-lineicon-energy, .pl-lineicon-emoticon-smile, .pl-lineicon-disc, .pl-lineicon-cursor-move, .pl-lineicon-crop, .pl-lineicon-credit-card, .pl-lineicon-chemistry, .pl-lineicon-user, .pl-lineicon-speedometer, .pl-lineicon-social-youtube, .pl-lineicon-social-twitter, .pl-lineicon-social-tumblr, .pl-lineicon-social-facebook, .pl-lineicon-social-dropbox, .pl-lineicon-social-dribbble, .pl-lineicon-shield, .pl-lineicon-screen-tablet, .pl-lineicon-magic-wand, .pl-lineicon-hourglass, .pl-lineicon-graduation, .pl-lineicon-ghost, .pl-lineicon-game-controller, .pl-lineicon-fire, .pl-lineicon-eyeglasses, .pl-lineicon-envelope-open, .pl-lineicon-envelope-letter, .pl-lineicon-bell, .pl-lineicon-badge, .pl-lineicon-anchor, .pl-lineicon-wallet, .pl-lineicon-vector, .pl-lineicon-speech, .pl-lineicon-puzzle, .pl-lineicon-printer, .pl-lineicon-present, .pl-lineicon-playlist, .pl-lineicon-pin, .pl-lineicon-picture, .pl-lineicon-map, .pl-lineicon-layers, .pl-lineicon-handbag, .pl-lineicon-globe-alt, .pl-lineicon-globe, .pl-lineicon-frame, .pl-lineicon-folder-alt, .pl-lineicon-film, .pl-lineicon-feed, .pl-lineicon-earphones-alt, .pl-lineicon-earphones, .pl-lineicon-drop, .pl-lineicon-drawer, .pl-lineicon-docs, .pl-lineicon-directions, .pl-lineicon-direction, .pl-lineicon-diamond, .pl-lineicon-cup, .pl-lineicon-compass, .pl-lineicon-call-out, .pl-lineicon-call-in, .pl-lineicon-call-end, .pl-lineicon-calculator, .pl-lineicon-bubbles, .pl-lineicon-briefcase, .pl-lineicon-book-open, .pl-lineicon-basket-loaded, .pl-lineicon-basket, .pl-lineicon-bag, .pl-lineicon-action-undo, .pl-lineicon-action-redo, .pl-lineicon-wrench, .pl-lineicon-umbrella, .pl-lineicon-trash, .pl-lineicon-tag, .pl-lineicon-support, .pl-lineicon-size-fullscreen, .pl-lineicon-size-actual, .pl-lineicon-shuffle, .pl-lineicon-share-alt, .pl-lineicon-share, .pl-lineicon-rocket, .pl-lineicon-question, .pl-lineicon-pie-chart, .pl-lineicon-pencil, .pl-lineicon-note, .pl-lineicon-music-tone-alt, .pl-lineicon-music-tone, .pl-lineicon-microphone, .pl-lineicon-loop, .pl-lineicon-logout, .pl-lineicon-login, .pl-lineicon-list, .pl-lineicon-like, .pl-lineicon-home, .pl-lineicon-grid, .pl-lineicon-graph, .pl-lineicon-equalizer, .pl-lineicon-dislike, .pl-lineicon-cursor, .pl-lineicon-control-start, .pl-lineicon-control-rewind, .pl-lineicon-control-play, .pl-lineicon-control-pause, .pl-lineicon-control-forward, .pl-lineicon-control-end, .pl-lineicon-calendar, .pl-lineicon-bulb, .pl-lineicon-bar-chart, .pl-lineicon-arrow-up, .pl-lineicon-arrow-right, .pl-lineicon-arrow-left, .pl-lineicon-arrow-down, .pl-lineicon-ban, .pl-lineicon-bubble, .pl-lineicon-camcorder, .pl-lineicon-camera, .pl-lineicon-check, .pl-lineicon-clock, .pl-lineicon-close, .pl-lineicon-cloud-download, .pl-lineicon-cloud-upload, .pl-lineicon-doc, .pl-lineicon-envelope, .pl-lineicon-eye, .pl-lineicon-flag, .pl-lineicon-folder, .pl-lineicon-heart, .pl-lineicon-info, .pl-lineicon-key, .pl-lineicon-link, .pl-lineicon-lock, .pl-lineicon-lock-open, .pl-lineicon-magnifier, .pl-lineicon-magnifier-add, .pl-lineicon-magnifier-remove, .pl-lineicon-paper-clip, .pl-lineicon-paper-plane, .pl-lineicon-plus, .pl-lineicon-pointer, .pl-lineicon-power, .pl-lineicon-refresh, .pl-lineicon-reload, .pl-lineicon-settings, .pl-lineicon-star, .pl-lineicon-symbol-female, .pl-lineicon-symbol-male, .pl-lineicon-target, .pl-lineicon-volume-1, .pl-lineicon-volume-2, .pl-lineicon-volume-off, .pl-lineicon-users {
	font-family:'pl-lineicons';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:0;
    text-align:center;
    line-height:inherit;
    margin-left:0;
}
.pl-lineicon-user-female:before {
	content:"\e000";
}
.pl-lineicon-user-follow:before {
	content:"\e002";
}
.pl-lineicon-user-following:before {
	content:"\e003";
}
.pl-lineicon-user-unfollow:before {
	content:"\e004";
}
.pl-lineicon-trophy:before {
	content:"\e006";
}
.pl-lineicon-screen-smartphone:before {
	content:"\e010";
}
.pl-lineicon-screen-desktop:before {
	content:"\e011";
}
.pl-lineicon-plane:before {
	content:"\e012";
}
.pl-lineicon-notebook:before {
	content:"\e013";
}
.pl-lineicon-moustache:before {
	content:"\e014";
}
.pl-lineicon-mouse:before {
	content:"\e015";
}
.pl-lineicon-magnet:before {
	content:"\e016";
}
.pl-lineicon-energy:before {
	content:"\e020";
}
.pl-lineicon-emoticon-smile:before {
	content:"\e021";
}
.pl-lineicon-disc:before {
	content:"\e022";
}
.pl-lineicon-cursor-move:before {
	content:"\e023";
}
.pl-lineicon-crop:before {
	content:"\e024";
}
.pl-lineicon-credit-card:before {
	content:"\e025";
}
.pl-lineicon-chemistry:before {
	content:"\e026";
}
.pl-lineicon-user:before {
	content:"\e005";
}
.pl-lineicon-speedometer:before {
	content:"\e007";
}
.pl-lineicon-social-youtube:before {
	content:"\e008";
}
.pl-lineicon-social-twitter:before {
	content:"\e009";
}
.pl-lineicon-social-tumblr:before {
	content:"\e00a";
}
.pl-lineicon-social-facebook:before {
	content:"\e00b";
}
.pl-lineicon-social-dropbox:before {
	content:"\e00c";
}
.pl-lineicon-social-dribbble:before {
	content:"\e00d";
}
.pl-lineicon-shield:before {
	content:"\e00e";
}
.pl-lineicon-screen-tablet:before {
	content:"\e00f";
}
.pl-lineicon-magic-wand:before {
	content:"\e017";
}
.pl-lineicon-hourglass:before {
	content:"\e018";
}
.pl-lineicon-graduation:before {
	content:"\e019";
}
.pl-lineicon-ghost:before {
	content:"\e01a";
}
.pl-lineicon-game-controller:before {
	content:"\e01b";
}
.pl-lineicon-fire:before {
	content:"\e01c";
}
.pl-lineicon-eyeglasses:before {
	content:"\e01d";
}
.pl-lineicon-envelope-open:before {
	content:"\e01e";
}
.pl-lineicon-envelope-letter:before {
	content:"\e01f";
}
.pl-lineicon-bell:before {
	content:"\e027";
}
.pl-lineicon-badge:before {
	content:"\e028";
}
.pl-lineicon-anchor:before {
	content:"\e029";
}
.pl-lineicon-wallet:before {
	content:"\e02a";
}
.pl-lineicon-vector:before {
	content:"\e02b";
}
.pl-lineicon-speech:before {
	content:"\e02c";
}
.pl-lineicon-puzzle:before {
	content:"\e02d";
}
.pl-lineicon-printer:before {
	content:"\e02e";
}
.pl-lineicon-present:before {
	content:"\e02f";
}
.pl-lineicon-playlist:before {
	content:"\e030";
}
.pl-lineicon-pin:before {
	content:"\e031";
}
.pl-lineicon-picture:before {
	content:"\e032";
}
.pl-lineicon-map:before {
	content:"\e033";
}
.pl-lineicon-layers:before {
	content:"\e034";
}
.pl-lineicon-handbag:before {
	content:"\e035";
}
.pl-lineicon-globe-alt:before {
	content:"\e036";
}
.pl-lineicon-globe:before {
	content:"\e037";
}
.pl-lineicon-frame:before {
	content:"\e038";
}
.pl-lineicon-folder-alt:before {
	content:"\e039";
}
.pl-lineicon-film:before {
	content:"\e03a";
}
.pl-lineicon-feed:before {
	content:"\e03b";
}
.pl-lineicon-earphones-alt:before {
	content:"\e03c";
}
.pl-lineicon-earphones:before {
	content:"\e03d";
}
.pl-lineicon-drop:before {
	content:"\e03e";
}
.pl-lineicon-drawer:before {
	content:"\e03f";
}
.pl-lineicon-docs:before {
	content:"\e040";
}
.pl-lineicon-directions:before {
	content:"\e041";
}
.pl-lineicon-direction:before {
	content:"\e042";
}
.pl-lineicon-diamond:before {
	content:"\e043";
}
.pl-lineicon-cup:before {
	content:"\e044";
}
.pl-lineicon-compass:before {
	content:"\e045";
}
.pl-lineicon-call-out:before {
	content:"\e046";
}
.pl-lineicon-call-in:before {
	content:"\e047";
}
.pl-lineicon-call-end:before {
	content:"\e048";
}
.pl-lineicon-calculator:before {
	content:"\e049";
}
.pl-lineicon-bubbles:before {
	content:"\e04a";
}
.pl-lineicon-briefcase:before {
	content:"\e04b";
}
.pl-lineicon-book-open:before {
	content:"\e04c";
}
.pl-lineicon-basket-loaded:before {
	content:"\e04d";
}
.pl-lineicon-basket:before {
	content:"\e04e";
}
.pl-lineicon-bag:before {
	content:"\e04f";
}
.pl-lineicon-action-undo:before {
	content:"\e050";
}
.pl-lineicon-action-redo:before {
	content:"\e051";
}
.pl-lineicon-wrench:before {
	content:"\e052";
}
.pl-lineicon-umbrella:before {
	content:"\e053";
}
.pl-lineicon-trash:before {
	content:"\e054";
}
.pl-lineicon-tag:before {
	content:"\e055";
}
.pl-lineicon-support:before {
	content:"\e056";
}
.pl-lineicon-size-fullscreen:before {
	content:"\e057";
}
.pl-lineicon-size-actual:before {
	content:"\e058";
}
.pl-lineicon-shuffle:before {
	content:"\e059";
}
.pl-lineicon-share-alt:before {
	content:"\e05a";
}
.pl-lineicon-share:before {
	content:"\e05b";
}
.pl-lineicon-rocket:before {
	content:"\e05c";
}
.pl-lineicon-question:before {
	content:"\e05d";
}
.pl-lineicon-pie-chart:before {
	content:"\e05e";
}
.pl-lineicon-pencil:before {
	content:"\e05f";
}
.pl-lineicon-note:before {
	content:"\e060";
}
.pl-lineicon-music-tone-alt:before {
	content:"\e061";
}
.pl-lineicon-music-tone:before {
	content:"\e062";
}
.pl-lineicon-microphone:before {
	content:"\e063";
}
.pl-lineicon-loop:before {
	content:"\e064";
}
.pl-lineicon-logout:before {
	content:"\e065";
}
.pl-lineicon-login:before {
	content:"\e066";
}
.pl-lineicon-list:before {
	content:"\e067";
}
.pl-lineicon-like:before {
	content:"\e068";
}
.pl-lineicon-home:before {
	content:"\e069";
}
.pl-lineicon-grid:before {
	content:"\e06a";
}
.pl-lineicon-graph:before {
	content:"\e06b";
}
.pl-lineicon-equalizer:before {
	content:"\e06c";
}
.pl-lineicon-dislike:before {
	content:"\e06d";
}
.pl-lineicon-cursor:before {
	content:"\e06e";
}
.pl-lineicon-control-start:before {
	content:"\e06f";
}
.pl-lineicon-control-rewind:before {
	content:"\e070";
}
.pl-lineicon-control-play:before {
	content:"\e071";
}
.pl-lineicon-control-pause:before {
	content:"\e072";
}
.pl-lineicon-control-forward:before {
	content:"\e073";
}
.pl-lineicon-control-end:before {
	content:"\e074";
}
.pl-lineicon-calendar:before {
	content:"\e075";
}
.pl-lineicon-bulb:before {
	content:"\e076";
}
.pl-lineicon-bar-chart:before {
	content:"\e077";
}
.pl-lineicon-arrow-up:before {
	content:"\e078";
}
.pl-lineicon-arrow-right:before {
	content:"\e079";
}
.pl-lineicon-arrow-left:before {
	content:"\e07a";
}
.pl-lineicon-arrow-down:before {
	content:"\e07b";
}
.pl-lineicon-ban:before {
	content:"\e07c";
}
.pl-lineicon-bubble:before {
	content:"\e07d";
}
.pl-lineicon-camcorder:before {
	content:"\e07e";
}
.pl-lineicon-camera:before {
	content:"\e07f";
}
.pl-lineicon-check:before {
	content:"\e080";
}
.pl-lineicon-clock:before {
	content:"\e081";
}
.pl-lineicon-close:before {
	content:"\e082";
}
.pl-lineicon-cloud-download:before {
	content:"\e083";
}
.pl-lineicon-cloud-upload:before {
	content:"\e084";
}
.pl-lineicon-doc:before {
	content:"\e085";
}
.pl-lineicon-envelope:before {
	content:"\e086";
}
.pl-lineicon-eye:before {
	content:"\e087";
}
.pl-lineicon-flag:before {
	content:"\e088";
}
.pl-lineicon-folder:before {
	content:"\e089";
}
.pl-lineicon-heart:before {
	content:"\e08a";
}
.pl-lineicon-info:before {
	content:"\e08b";
}
.pl-lineicon-key:before {
	content:"\e08c";
}
.pl-lineicon-link:before {
	content:"\e08d";
}
.pl-lineicon-lock:before {
	content:"\e08e";
}
.pl-lineicon-lock-open:before {
	content:"\e08f";
}
.pl-lineicon-magnifier:before {
	content:"\e090";
}
.pl-lineicon-magnifier-add:before {
	content:"\e091";
}
.pl-lineicon-magnifier-remove:before {
	content:"\e092";
}
.pl-lineicon-paper-clip:before {
	content:"\e093";
}
.pl-lineicon-paper-plane:before {
	content:"\e094";
}
.pl-lineicon-plus:before {
	content:"\e095";
}
.pl-lineicon-pointer:before {
	content:"\e096";
}
.pl-lineicon-power:before {
	content:"\e097";
}
.pl-lineicon-refresh:before {
	content:"\e098";
}
.pl-lineicon-reload:before {
	content:"\e099";
}
.pl-lineicon-settings:before {
	content:"\e09a";
}
.pl-lineicon-star:before {
	content:"\e09b";
}
.pl-lineicon-symbol-female:before {
	content:"\e09c";
}
.pl-lineicon-symbol-male:before {
	content:"\e09d";
}
.pl-lineicon-target:before {
	content:"\e09e";
}
.pl-lineicon-volume-1:before {
	content:"\e09f";
}
.pl-lineicon-volume-2:before {
	content:"\e0a0";
}
.pl-lineicon-volume-off:before {
	content:"\e0a1";
}
.pl-lineicon-users:before {
	content:"\e001";
}